<html>
    <head>
        <title>Herss blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Herss Blog</a></h1>
        </div>

        <div>
            <p>published: 23.05.2018, 17:56</p>
            <h2><a href="">My first post</a></h2>
            <p>블로그에 처음 포스팅되는 글입니다.</p>
        </div>
        <a href="http://www.herss4u.com/"> <img src="https://github.com/taropin8115/Herss/blob/master/NASNet%20vs%20CNN%20100epoch.png?raw=true" width="default" height="default" title="헤르스홈페이지"></a>

        <div>
            <p>published: 23.05.2018, 18:00</p>
            <h2><a href="">My second post</a></h2>
            <p>블로그에 2번째로 포스팅 되는 글입니다.</p>
        </div>
    </body>
</html>